.ui--heading--ht {
	color: inherit;
	font-family: var(--font-family-title);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title-bold);
	letter-spacing: var(--letter-spacing-title);
	line-height: var(--line-height-title);
}

.ui--heading {
	color: inherit;
}

.ui--heading--h1,
.ui--heading--h2,
.ui--heading--h3 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-heading-bold);
	letter-spacing: var(--letter-spacing-heading);
	line-height: var(--line-height-heading);
}

.ui--heading--h4,
.ui--heading--h5,
.ui--heading--h6 {
	font-family: var(--font-family-article);
	font-weight: var(--font-weight-article-bold);
	letter-spacing: var(--letter-spacing-article);
	line-height: var(--line-height-article);
}

.ui--heading--h1 {
	font-size: var(--font-size-h1);
}

.ui--heading--h2 {
	font-size: var(--font-size-h2);
}

.ui--heading--h3 {
	font-size: var(--font-size-h3);
}

.ui--heading--h4 {
	font-size: 1.125em;
}

.ui--heading--h5 {
	font-size: var(--font-size-h5);
}

.ui--heading--h6 {
	font-size: var(--font-size-h6);
}
