.ui--quote {
}

.ui--quote {
	--quote-font-size: 1.125rem;
	--pad: var(--quote-font-size);
	padding-left: var(--pad);
}

.ui--quote__body {
	font-family: var(--font-family-serif);
	font-weight: var(--font-weight-serif-normal);
	font-size: var(--quote-font-size);
	font-style: normal;
	color: var(--color-body-text-50);
	border: 0;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 0;
}

.ui--quote__source + .ui--quote__body,
.ui--quote__body + .ui--quote__source {
	margin-top: 1em;
}

.ui--quote__body > p {
	position: relative;
}

.ui--quote__body > p:not(:last-of-type) {
	margin-bottom: 0.5em;
}

.ui--quote__body > p:first-of-type::before {
	--off: 0.5rem;
	content: open-quote;
	position: absolute;
	left: calc(var(--pad) * -1 - 0.5em);
	top: -0.25em;
	transform-origin: top left;
	transform: scale(2.5);
	opacity: 0.3;
	line-height: 1;
}

.ui--quote__source,
.ui--quote__cite {
	font-family: var(--font-family-sans);
	font-weight: var(--font-weight-sans-bold);
	font-size: 1rem;
	font-style: normal;
	color: var(--color-body-text-50);
}

.ui--quote__cite {
	font-style: italic;
}
