.ui--site-header__logo-link {
	--color-logo-background: theme("colors.blue.900");
	--transition-time: 1000ms;
	--transition-func: ease;
	transform: translateY(0);

	body[data-hydrated] & {
		transition: fill var(--transition-time) var(--transition-func);
	}

	&:hover {
		--color-logo-background: theme("colors.blue.950");
	}
}

.ui--site-header__logo {
	transform: translateY(0);

	body[data-hydrated] & {
		transition: transform 100ms ease-out;
	}

	body[data-hydrated] .ui--site-header__logo-link:hover & {
		transition: transform 300ms cubic-bezier(0.22, 0.15, 0, 4.06);
	}

	.ui--site-header__logo-link:hover & {
		transform: translateY(-2px);
	}
}
