.ui--site-header {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@media (--md) {
		padding-top: 3.5rem;
		padding-bottom: 2rem;
	}

	@media (--lg) {
		padding-top: 6rem;
		padding-bottom: 4rem;
	}
}

.ui--site-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ui--site-header__home-link,
.ui--site-header__home-link:hover,
.ui--site-header__home-link:focus {
	display: flex;
	place-content: center;
	fill: currentColor;
}

.ui--site-header__logo {
	fill: inherit;
}

.ui--site-header__logo--sm {
	@media (--sm) {
		display: none;
	}
}

.ui--site-header__logo--lg {
	@media (--xs-only) {
		display: none;
	}
	@media print {
		display: none;
	}
}

.ui--site-header__nav-menu {
	--gap: 0.75rem;
	--touch-offset: calc(var(--gap) * 0.5);
	gap: var(--gap);
	margin-right: calc(var(--touch-offset) * -1);

	@media (--md) {
		--gap: 1rem;
		--touch-offset: 0;
	}
}

.ui--site-header__nav-item-icon {
	@media (--md) {
		display: none;
	}
}
